.gameboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard {
  display: flex;
  flex-direction: column;
  gap: 3px; /* Spacing between rows */
  height: 100%;
  margin-top: 20vh;
}

.gameboard-row {
  display: flex;
  gap: 3px; /* Spacing between cells */
}

.gameboard-cell {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
}
