.gameboard-container {
  /* border: 3px solid black; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.gameboard-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.gameboard-cell {
  width: 58px;
  height: 58px;
  border: 2px solid #818384;
  background-color: var(--background-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.gameboard-cell h1 {
  font-size: 1.5rem;
}