.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  background: var(--background-color);
  width: 100vw;
  height: 100vh;
  margin: 0;
}

@media (max-width: 768px) {
  .app-container {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .app-container {
    padding: 0 10px;
  }
}
