* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background-color: #ffffff;        /* Default background: white */
  --primary-text-color: #000000;      /* Default primary text color: black */
  --secondary-text-color: #555555;    /* Default secondary text color: dark gray */
  --foreground-color: #000000;        /* Default foreground color: black */
  --icon-color: #000000;              /* Default icon color: black */
}

[data-theme="dark"] {
  --background-color: #1d1d1d;
  --primary-text-color: #e9dec9;
  --secondary-text-color: #cccccc;
  --foreground-color: #e9dec9;
  --icon-color: #e9dec9;
}

[data-theme="jet-black"] {
  --background-color: #000000;
  --primary-text-color: #333333;
  --secondary-text-color: #555555;
  --foreground-color: #333333;
  --icon-color: #333333;
}

[data-theme="cream"] {
  --background-color: #fffdd0;
  --primary-text-color: #333333;
  --secondary-text-color: #666666;
  --foreground-color: #333333;
  --icon-color: #333333;
}

[data-theme="ocean"] {
  --background-color: #2e8b57;
  --primary-text-color: #ffffff;
  --secondary-text-color: #b0e0e6;
  --foreground-color: #ffffff;
  --icon-color: #00ced1;
}

[data-theme="sunset"] {
  --background-color: #ff4500;
  --primary-text-color: #ffffff;
  --secondary-text-color: #ffa500;
  --foreground-color: #ffffff;
  --icon-color: #ff69b4;
}

::-webkit-scrollbar {
  display: none;
}